* {
  box-sizing: border-box;
  font-family: "Recursive";
}

.root {
  background-color: #FB6B6B;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.flashcards-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}