* {
  --header-height: 145px;
  --footer-min-height: 70px;
  display: flex;
  justify-content: center;
}

header {
  height: var(--header-height);
  background-color: aliceblue;
  display: flex;
  align-items: center;
  margin-bottom: 52px;
  position: absolute;
  top: 0;
  left: 0;
}

img {
  width: 52px;
  height: 60px;
}

span {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 36px;
  color: white;
  letter-spacing: -0.012em;
}

footer {
  min-height: var(--footer-min-height);
  position: absolute;
  bottom: 0;
  left: 0;
}